{% extends "ukulele/base.html" %}
{% load static %}

{% block trainer %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'ukulele/trainer.css' %} ">
    </head>
    <body>
        <div class="fretboard">
            <div class="notes_container">
                <div class="note_row note_a">
                    <div class="note note_a_0"></div>
                    <div class="note note_a_1"></div>
                    <div class="note note_a_2"></div>
                    <div class="note note_a_3"></div>
                    <div class="note note_a_4"></div>
                    <div class="note note_a_5"></div>
                    <div class="note note_a_6"></div>
                    <div class="note note_a_7"></div>
                    <div class="note note_a_8"></div>
                    <div class="note note_a_9"></div>
                    <div class="note note_a_10"></div>
                    <div class="note note_a_11"></div>
                    <div class="note note_a_12"></div>
                </div>
                <div class="note_row note_e">
                    <div class="note note_e_0"></div>
                    <div class="note note_e_1"></div>
                    <div class="note note_e_2"></div>
                    <div class="note note_e_3"></div>
                    <div class="note note_e_4"></div>
                    <div class="note note_e_5"></div>
                    <div class="note note_e_6"></div>
                    <div class="note note_e_7"></div>
                    <div class="note note_e_8"></div>
                    <div class="note note_e_9"></div>
                    <div class="note note_e_10"></div>
                    <div class="note note_e_11"></div>
                    <div class="note note_e_12"></div>
                </div>
                <div class="note_row note_c">
                    <div class="note note_c_0"></div>
                    <div class="note note_c_1"></div>
                    <div class="note note_c_2"></div>
                    <div class="note note_c_3"></div>
                    <div class="note note_c_4"></div>
                    <div class="note note_c_5"></div>
                    <div class="note note_c_6"></div>
                    <div class="note note_c_7"></div>
                    <div class="note note_c_8"></div>
                    <div class="note note_c_9"></div>
                    <div class="note note_c_10"></div>
                    <div class="note note_c_11"></div>
                    <div class="note note_c_12"></div>
                </div>
                <div class="note_row note_g">
                    <div class="note note_g_0"></div>
                    <div class="note note_g_1"></div>
                    <div class="note note_g_2"></div>
                    <div class="note note_g_3"></div>
                    <div class="note note_g_4"></div>
                    <div class="note note_g_5"></div>
                    <div class="note note_g_6"></div>
                    <div class="note note_g_7"></div>
                    <div class="note note_g_8"></div>
                    <div class="note note_g_9"></div>
                    <div class="note note_g_10"></div>
                    <div class="note note_g_11"></div>
                    <div class="note note_g_12"></div>
                </div>    
            </div>
            <div class="strings_names">
                <div>A</div>
                <div>E</div>
                <div>C</div>
                <div>G</div>
            </div>
            <div class="strings">
                <div class="string_A"></div>
                <div class="string_E"></div>
                <div class="string_C"></div>
                <div class="string_G"></div>
            </div>
            <div class="frets">
                <div class="fret_0"></div>
                <div class="fret_1"></div>
                <div class="fret_2"></div>
                <div class="fret_3"></div>
                <div class="fret_4"></div>
                <div class="fret_5"><div class="fret_mark"></div></div>
                <div class="fret_6"></div>
                <div class="fret_7"><div class="fret_mark"></div></div>
                <div class="fret_8"></div>
                <div class="fret_9"></div>
                <div class="fret_10"><div class="fret_mark"></div></div>
                <div class="fret_11"></div>
                <div class="fret_12"><div class="fret_mark"></div></div>  
            </div>   
        </div>
    </body>
    </html>
{% endblock trainer %}